body { /* */
  margin: 0;
  padding: 0;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 1.125rem;
  background-color: #ffffff;
  color: #333;
} /* */
footer{
position: relative;
width: 100%;
display: flex;
justify-content: center;
align-items: center;
flex-direction: column;
margin-top: 25px;
background: linear-gradient(180deg, #e6af1e, #ff8900);
}
.social,
.menu3{ /* */
position: relative;
display: flex;
justify-content: center;
align-items: center;
margin: 12px 0;
flex-wrap: wrap;
}
.social li,
.menu3 li{ /* */
list-style: none;
}
.social li a { /* */
font-size: 1.55em;
color: #ffffff;
margin: 0 10px;
display: inline-block;
transition: transform .2s;
}
.social li a:hover{
transform: scale(1.5);
}
.menu3 li a {
font-size: 1.1em;
color: #ffffff;
opacity: 0.75;
margin: 0 15px;
text-decoration: none;
}
.menu3 li a:hover {
opacity: 1;
}
footer p {
color: #ffffff;
text-align: center;
margin-top: 15px;
font-size: 1.05em;
}   

.header { /* */
  background-color: #ffffff;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo-link { /* */
  display: inline-block;
}

.logo { /* */
  background: url("img/u0-transformed.png") center/cover no-repeat;
  width: 80px;
  height: 80px;
}

.burger-icon { /* */
  font-size: 24px;
  cursor: pointer;
  display: none; /* Скрыть иконку "бургер" на больших экранах */
}

.menu { /* */
  display: flex;
  align-items: center;
  position: relative;
}

.menu-item { /* */
  margin-right: 6vw;
  margin-left: 6vw;
}

@media screen and (max-width: 926px) { /* */
  .menu-item {
    margin-right: 3vw;
    margin-left: 3vw;
  }
}

.dropdown {
  position: relative;
}

.dropbtn { /* */
  border: none;
  outline: none;
  font-size: 18px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  color: rgb(0, 0, 0);
  background-color: transparent;
  cursor: pointer;
}

.dropdown-content { /* */
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  top: 100%; /* Смещаем выпадающее меню под пункт */
  left: 0; /* Выравниваем по левому краю */
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content a:hover {
  background-color: #ddd;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.login-btn { /* */
  background: linear-gradient(180deg, #e6af1e, #ff8900);
  color: #ffffff;
  padding: 12px 20px;
  border: none;
  font-size: 20px;
  border-radius: 5px;
  cursor: pointer;
  text-decoration: none;
}

.close-btn { /* */
  font-size: 24px;
  cursor: pointer;
  position: absolute;
  top: 10px;
  left: 10px;
  display: none; /* Скрываем кнопку закрытия по умолчанию */
}

@media screen and (max-width: 768px) {
  .header {
    flex-direction: row;
  }

  .login-btn {
    padding: 6px 10px;
  }

  .menu {
    display: none; /* Скрываем меню на малых экранах */
    flex-direction: column;
    align-items: flex-start; /* Выравнивание слева */
    position: fixed;
    top: 0;
    left: 0px;
    bottom: 0;
    width: 200px;
    background-color: #f9f9f9;
    padding-top: 60px; /* Отступ для учета заголовка */
    z-index: 1000;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  }

  .menu.active {
    display: flex; /* Показываем меню при активации */
  }

  .burger-icon {
    display: block; /* Показываем иконку "бургер" на малых экранах */
  }

  .dropdown {
    margin: 10px 0; /* Отступы для выпадающих пунктов */
  }

  .menu-item {
    margin-right: 0; /* Убираем расстояние между пунктами меню на малых экранах */
    margin-left: 20px;
  }

  .close-btn {
    display: block; /* Показываем кнопку закрытия на малых экранах */
    margin-left: 155px;
  }
}
.faq-section { /* */
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  margin-top: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #f9f9f9;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.faq-heading { /* */
  text-align: center;
  font-size: 24px;
  margin-bottom: 20px;
}

.faq-item { /* */
  margin-bottom: 20px;
}

.question { /* */
  cursor: pointer;
  padding: 10px;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.answer { /* */
  display: none;
  padding: 10px;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.answer.active {
  display: block;
}
.polosa{ /* */
color:white;
display: flex;
 width:  100%; 
 height: auto; 
 text-align: center; 
 background: linear-gradient(180deg, #e6af1e, #ff8900);
}